<ion-view title="THÔNG TIN DOANH NGHIỆP" hide-back-button="false">
   <ion-content scroll="true" style="background: url(img/welcome/welcome.jpg); background-size: cover;">
    <form style="margin-bottom:60px">
        <div class="padding" style="background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:12px !important">
             <h2 style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:17px; font-family: sans-serif;">Thông Tin Tài Khoản Doanh Nghiệp</h2>
        </div>
       <center style="margin-top:5px; margin-bottom:5px"> 
           
            <div class="padding">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Tên doanh nghiệp
                </p>
                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input id="textarea_2" type="text" placeholder="Công Ty Cô Phần ABC" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent" readonly>
                </label>

                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Mã số thuế
                </p>
                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:5px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input id="textarea_2" type="text" placeholder="0158011869" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent" readonly>
                </label>

                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Địa chỉ doanh nghiệp
                </p>
                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:5px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input id="textarea_2" type="text" placeholder="Nguyễn văn thủ, Q.1" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent" readonly>
                </label>

                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Người đại diện pháp luật
                </p>
                 <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input id="textarea_2" type="text" placeholder="Trần Phương Thảo" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent" readonly>
                </label>

                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Số di động
                </p>
                 <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input id="textarea_2" type="text" placeholder="0986 098 969" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent" readonly>
                </label>

                 <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Kế toán trưởng
                </p>
                 <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input id="textarea_2" type="text" placeholder="Mai Phương Thuỷ" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent" readonly>
                </label>

                 <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                     Số di động
                </p>
                 <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input id="textarea_2" type="text" placeholder="0972 649 730" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent" readonly>
                </label>
            </div>
       </center>
    </form>
</ion-content>
</ion-view>