<ion-view title="THÔNG TIN VĂN BẢN" hide-back-button="false">
   <ion-content scroll="false" style="background: url(img/welcome/welcome.jpg); background-size: cover;">
    <form style="margin-bottom:60px">
        <div class="padding" style="background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:12px !important">
             <h2 style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:15px; font-family: sans-serif;">Thông Tin Văn Bản Pháp Luật Về Thuế Mới Nhất</h2>
        </div>
       <center style="margin-top:5px; margin-bottom:5px"> 
            <div class="padding" style="width:95%; border-radius:12px; margin-top:10px; background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:30px !important">
                <p style="margin-left:0px; margin-bottom:5px; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Luật số 71/2014/QH13 sửa đổi, bổ sung một số điều của các Luật về thuế của Quốc hội.
                </p>
                <a href="#" style="float:left; color:darkturquoise; text-decoration: none;">
                    Loại văn bản luật
                </a>
                <a href="#" style="float:right; color:darkturquoise; text-decoration: none;">
                    20/05/2015
                </a>
            </div>

            <div class="padding" style="width:95%; border-radius:12px; margin-top:10px; background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:30px !important">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Thông tư 156/2013/TT-BTC của Bộ Tài Chính về việc hướng dẫn thi hành một số điều của Luật Quản lý thuế; Luật sửa đổi, bổ sung một số điều của Luật Quản lý thuế và Nghị định 83/2013/NĐ-CP ngày 22/07/2013 của Chính Phủ.
                </p>
                <a href="#" style="float:left; color:darkturquoise; text-decoration: none;">
                    Loại văn bản thông tư
                </a>
                <a href="#" style="float:right; color:darkturquoise; text-decoration: none;">
                    20/12/2013
                </a>
            </div>

            <div class="padding" style="width:95%; border-radius:12px; margin-top:10px; background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:30px !important">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Nghị định 83/2013/NĐ-CP của Chính Phủ về việc quy định chi tiết thi hành một số điều của Luật Quản lý thuế và Luật sửa đổi, bổ sung một số điều của Luật Quản lý thuế
                </p>
                <a href="#" style="float:left; color:darkturquoise; text-decoration: none;">
                    Loại văn bản nghị định
                </a>
                <a href="#" style="float:right; color:darkturquoise; text-decoration: none;">
                    15/09/2013
                </a>
            </div>
       </center>

    </form>
</ion-content>
</ion-view>