<style>
    .checkbox input:checked:before,
  .checkbox input:checked + .checkbox-icon:before {
    background: green;
    border-color: green; }
    
    .checkbox input:before, .checkbox-icon:before {
        background: transparent;
    }
</style>
<ion-view title="KHÔI PHỤC MẬT KHẨU" hide-tabs hide-nav-bar="false">
   <ion-content scroll="false">
    <form style="height: 100%; background: url(img/welcome/welcome.jpg); background-size: cover;">
             <h4 style="color:#fff; text-align:center; padding-top:10px; padding-bottom:30px; margin:0">
                <!--<img src="img/head.png" style="width:100%; border: 1px solid #DF7431; border-radius: 0px;">-->
                <div class="list">
                    <div class="item item-avatar">
                        <img src="img/logothue.png" style="min-width:90px; min-height:65px; margin-top:-10px;">
                        <h2 style="margin-left:10px; font-weight:600; color:red; font-size:22px">CỤC THUẾ TP HÀ NỘI</h2>
                        <p style="color:#fff; font-size:18px; margin-left:12px">CHI CỤC THUẾ - CẦU GIẤY</p>
                    </div>
                </div>
            </h4>
        <div class="list">
            <label class="item item-input ion-android-mail" style="border-radius:5px; color: #fff; font-size:25px; width: 90%; margin: auto; margin-bottom:7px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="text" placeholder="Nhập địa chỉ Email khôi phục"  style="padding-left:20px; color: #fff" required>
           </label>
        </div>
        <div class="padding" style="margin-top:-30px">
            <button class="button waves-effect waves-light button-full button-assertive" style="; color:#fff; font-size:15px; opacity:.7; background: green;" ng-click="forgot()">Lấy lại mât khẩu</button>
        </div>
    </form>
</ion-content>
</ion-view>