
<style>
    .hero.slide-up * {
    opacity: 1;
    filter: alpha(opacity=1);
}
.blur {
  height: 10%;
  width: 100%;
  margin: -20px auto;
  /*z-index: -1;*/
  position: relative;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: url(#blur);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='10');
  overflow: hidden;
}

.blur:after {
  content: '';
  height: 100%;
  width: 100%;
  /*background: rgba(255, 255, 255, .2);*/
  position: absolute;
}
</style>
<ion-view  hide-nav-bar="true" hide-back-button="true">
    <ion-content scroll="false">
        <form style="height: 100%; background: url(img/welcome/welcome.jpg); background-size: cover;">
            <h4 style="color:#fff; text-align:center; padding-top:10px; padding-bottom:0px; margin:0">
                <!--<img src="img/head.png" style="width:100%; border: 1px solid #DF7431; border-radius: 0px;">-->
                <div class="list">
                    <div class="item item-avatar">
                        <img src="img/logothue.png" style="min-width:90px; min-height:65px; margin-top:-10px;">
                        <h2 style="margin-left:10px; font-weight:600; color:red; font-size:22px">CỤC THUẾ TP HÀ NỘI</h2>
                        <p style="color:#fff; font-size:18px; margin-left:12px">CHI CỤC THUẾ - CẦU GIẤY</p>
                    </div>
                </div>
            </h4>

        <div class="padding" style="background: rgba(34,34,34,0.75); padding-top: 8px !important; padding-bottom:8px !important">
             <h2 style="margin-left:10px; font-weight:500; color:red; font-size:19px; font-family: sans-serif;">Công ty: Công ty cổ phần ABC</h2>
             <p style="color:#fff; font-family: sans-serif; font-size:16px; margin-left:12px; margin-bottom:0">Mã số thuế: 0147098368</p>
        </div>

        <div class="glass" style="top:35px; height:35%;">
            <div class="item" style="width:30%; float:left; border:none; margin-left:3%; padding-top:0">
                <a style="width:70px; padding-top:20px; padding-bottom:20px; padding-left:23px; border-radius:60px; color:#fff; border:none; float:left; background:#824927">
                    <i class="ion-ios-search" style="font-size:30px;"></i>
                </a>
                <a href="#" class="subdued" style="float:left; margin-left:10px; margin-top:5%; color:#fff">Tra cứu</a>
            </div>

            <div class="item" style="width:30%; float:left; border:none; margin-left:3%; padding-top:0">
                <a ng-href="#/app/nof" style="width:70px; padding-top:20px; padding-bottom:20px; padding-left:23px; border-radius:60px; color:#fff; border:none; float:left; background:#40961b">
                    <i class="ion-ios-bell" style="font-size:30px;"></i>
                </a>
                <a href="#/app/nof" class="subdued" style="float:left; margin-left:0; margin-top:5%; color:#fff">Thông báo</a>
            </div>

            <div class="item" style="width:30%; float:left; border:none; margin-left:3%; padding-top:0">
                 <a style="width:70px; padding-top:20px; padding-bottom:20px; padding-left:25px; border-radius:60px; color:#fff; border:none; float:left; background:#258cdb">
                    <i class="ion-ios-compose" style="font-size:30px;"></i>
                </a>
                <a href="#" class="subdued" style="float:left; margin-left:12px; margin-top:5%; color:#fff">Dịch vụ</a>
            </div>

            <br/>

             <div class="item" style="width:30%; float:left; border:none; margin-left:3%; padding-top:0">
                 <a style="width:70px; padding-top:20px; padding-bottom:20px; padding-left:25px; border-radius:60px; color:#fff; border:none; float:left; background:#c735e8">
                    <i class="ion-social-usd-outline" style="font-size:30px;"></i>
                </a>
                <a href="#" class="subdued" style="float:left; margin-top:5%; color:#fff">Thanh toán</a>
            </div>

             <div class="item" style="width:30%; float:left; border:none; margin-left:3%; padding-top:0">
                 <a style="width:70px; padding-top:20px; padding-bottom:20px; padding-left:23px; border-radius:60px; color:#fff; border:none; float:left; background:#ffa100">
                    <i class="ion-ios-list" style="font-size:30px;"></i>
                </a>
                <a href="#" class="subdued" style="float:left; margin-left:11%; margin-top:5%; color:#fff">Văn bản</a>
            </div>

             <div class="item" style="width:30%; float:left; border:none; margin-left:3%; padding-top:0">
                 <a style="width:70px; padding-top:20px; padding-bottom:20px; padding-left:23px; border-radius:60px; color:#fff; border:none; float:left; background:#f95e11">
                    <i class="ion-person-stalker" style="font-size:30px;"></i>
                </a>
                <a href="#" class="subdued" style="float:left; margin-left:18%; margin-top:5%; color:#fff">Hỗ trợ</a>
            </div>

            <br/>

            <div class="item" style="width:30%; float:left; border:none; margin-left:3%; padding-top:15px">
                 <a style="width:70px; padding-top:20px; padding-bottom:20px; padding-left:23px; border-radius:60px; color:#fff; border:none; float:left; background:#03afaa">
                    <i class="ion-ios-help" style="font-size:30px;"></i>
                </a>
                <a href="#" class="subdued" style="float:left; margin-left:12%; margin-top:5%; color:#fff">Hỏi đáp</a>
            </div>

        </div>
    </form>
    </ion-content>
</ion-view>
