<ion-view title="THÔNG TIN GIỚI THIỆU" hide-back-button="false">
   <ion-content scroll="true" style="background: url(img/welcome/welcome.jpg); background-size: cover;">
    <form style="margin-bottom:60px">
        <div class="padding" style="background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:12px !important">
             <h2 style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif;">Giới Thiệu Chung</h2>
        </div>
       <center style="margin-top:5px; margin-bottom:5px"> 
            <div class="padding" style="width:95%; border-radius:12px; margin-top:10px; background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:7px !important">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    - TAX BIM là giải pháp phần mềm quản lý thông tin doanh nghiệp trên di động dành cho nghành thuế Việt Nam.<br/><br/>
                    - TAX BIM sẽ giúp cho cục thuế gửi thông báo đến các doanh nghiệp về tình trạng thuế cũng như các thông báo liên quan như việc nộp thuế, các chính sách được ban hành tới doanh nghiệp.<br/><br/>
                    - TAX BIM sẽ giải quyết các vấn đề như việc thanh toán trực tuyến thuế, các khoản liên quan đến ngân sách nhà nước mà doanh nghiệp phải thực thi. Đồng thời sẽ thông báo nhắc cho doanh nghiệp đúng hạn với các thủ tục cần thực hiện đối với nhà nước theo tháng, quý và năm. <br/><br/>
                    -Các chức năng chính của giải pháp ứng dụng<br/>
                    <span style="padding-left:5px;">
                        * Quản lý thông tin tra cứu các dịch vụ cũng như tình trạng doanh nghiệp về thuế.<br/>
                        * Quản lý các dịch vụ: Thông tin nợ thuế, thanh toán.<br/>
                        * Quản lý văn bản: Văn bản pháp luật, Tin tức thuế.<br/>
                        * Quản lý thông báo: Hộp thư thông báo, Phản hồi liên hệ.<br/>
                        * Quản lý hỗ trợ và hỏi đáp: Hỏi đáp, Hotline, Liên hệ.
                    </span>
                </p>
            </div>
       </center>
    </form>
</ion-content>
</ion-view>