<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <!--<ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
            </ion-nav-buttons>-->
        </ion-nav-bar>
        <ion-nav-view name="menuContent">
            <!-- TABS -->
            <ion-tabs ng-class="{'tabs-item-hide': hideTabs}" class="tabs-positive tabs-icon-top">

            <ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/app/home">
                <ion-nav-view name="tab-search"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Schedule" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar-outline" href="#/app/schedule">
                <ion-nav-view name="tab-browse"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Client" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/app/messager">
                <ion-nav-view name="tab-playlists"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Settings" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog-outline" href="#/app/setting">
                <ion-nav-view name="tab-playlists"></ion-nav-view>
            </ion-tab>

            </ion-tabs>
        </ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="expanded" style="text-align:center; font-family:'robotolight', sans-serif">
            <img src="img/ava4.jpg" class="avatar motion spin fade" style="left:37%; border-radius:10px; width:70px; height:70px; line-height:1;">
            <div class="menu-bottom" style="font-weight:200">
                Nguyễn văn A
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header" style="background: #283339;">
            <ion-list>
                <!--<ion-item nav-clear menu-close href="#/app/home" style="color:#fff">
                   <a class="ion-home" style="font-family:'robotolight', sans-serif; margin-right:10px ;background: red; color:fff; font-size:25px; border-radius:5px; padding-left:9px; padding-right:9px; font-weight:100"></a> Trang chủ
                </ion-item>-->
                <ion-item nav-clear menu-close href="#/app/home" style="color:#fff">
                   <a class="ion-ios-person" style="font-family:'robotolight', sans-serif; margin-right:10px ;background: #8545A6; color:fff; font-size:25px; border-radius:5px; padding-left:11px; padding-right:11px; font-weight:300"></a> Thông tin tài khoản
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/cashinatm" style="color:#fff">
                   <a class="ion-ios-folder-outline" style="font-family:'robotolight', sans-serif; margin-right:10px ;background: #17A559; color:fff; font-size:25px; border-radius:5px; padding-left:8px; padding-right:8px; font-weight:300"></a> Nạp tiền vào ví
                </ion-item>
                 <ion-item nav-clear menu-close href="#/app/cashout" style="color:#fff">
                   <a class="ion-cash" style="font-family:'robotolight', sans-serif; margin-right:10px ;background: #1573B0; color:fff; font-size:25px; border-radius:5px; padding-left:6px; padding-right:6px; font-weight:300"></a> Rút tiền từ ví
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/tranfer" style="color:#fff">
                   <a class="ion-ios-paperplane-outline" style="font-family:'robotolight', sans-serif; margin-right:10px ;background: #EE560B; color:fff; font-size:25px; border-radius:5px; padding-left:10px; padding-right:10px; font-weight:300"></a> Chuyển khoản
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/epayment" style="color:#fff">
                   <a class="ion-android-phone-portrait" style="font-family:'robotolight', sans-serif; margin-right:10px ;background: #43753A; color:fff; font-size:25px; border-radius:5px; padding-left:11px; padding-right:11px; font-weight:300"></a> Nạp tiền điện tử
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/pay" style="color:#fff">
                   <a class="ion-ios-cart-outline" style="font-family:'robotolight', sans-serif; margin-right:10px ;background: #81603F; color:fff; font-size:25px; border-radius:5px; padding-left:9px; padding-right:9px; font-weight:300"></a> Thanh toán điện tử
                </ion-item>
                <ion-item nav-clear menu-close href="#" style="color:#fff">
                   <a class="ion-android-exit" style="font-family:'robotolight', sans-serif; margin-right:10px ;background: #FE1900; color:fff; font-size:25px; border-radius:5px; padding-left:9px; padding-right:9px; font-weight:300"></a> Đăng xuất
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
