<ion-view title="THÔNG TIN TIN TỨC" hide-back-button="true">
   <ion-content scroll="true" style="background: url(img/welcome/welcome.jpg); background-size: cover;">
    <form style="margin-bottom:60px">
        <div class="padding" style="background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:12px !important">
             <h2 style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:17px; font-family: sans-serif;">Thông Tin Tin Tức Và Sự Kiện Nghành Thuế</h2>
        </div>
       <center style="margin-top:0px; margin-bottom:5px"> 
           
            <div class="padding" style="padding: 10px!important;">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    10 sự kiện công tác thuế 2015 (08/01/2016)
                </p>
                <div class="padding" style="width:100%; border-radius:12px; margin-top:5px; background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:12px !important">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    2015 là năm cuối cùng triển khai nghị quyết đại hội Đảng lần thứ XI và kế hoạch 5 năm 2011-2015, cũng là năm tăng tốc thực hiện kế hoạch cải cách hệ thống thuế theo chiến lược cải cách và hiện đại hoá hệ thống thuế đến 2020, công tác thuế cảu Đảng và Nhà nước đã đạt đực những kết quả quan trọng.
                </p>
            </div>
            </div>
       </center>
    </form>
</ion-content>
</ion-view>