<ion-view title="THÔNG TIN THÔNG BÁO" hide-back-button="false">
   <ion-content scroll="true" style="background: url(img/welcome/welcome.jpg); background-size: cover;">
    <form>
        <div class="padding" style="background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:12px !important">
             <h2 style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:17px; font-family: sans-serif;">Thông Tin Thông Báo Cho Doanh Nghiệp</h2>
        </div>
       <center style="margin-top:20px; margin-bottom:70px"> 
            <div class="padding" style="width:95%; border-radius:12px; margin-top:10px; background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:30px !important">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    CCT TP Vinh thông báo: DN mới thành lập không hoạt động kinh doanh(CTY TNHH vận tải Tú Linh) (25/08/2016)
                </p>
                <a href="#/app/nof-detail" style="float:right; color:darkturquoise;">Xem chi tiết</a>
            </div>

            <div class="padding" style="width:95%; border-radius:12px; margin-top:10px; background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:30px !important">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    CCT TP Vinh thông báo: DN mới thành lập không hoạt động kinh doanh(CTY TNHH Mtv DV Việt Khánh) (25/08/2016)
                </p>
                <a href="#" style="float:right; color:darkturquoise;">Xem chi tiết</a>
            </div>

            <div class="padding" style="width:95%; border-radius:12px; margin-top:10px; background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:30px !important">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    CCT TP Vinh thông báo: CSKD nợ thuế, bỏ địa chỉ kinh doanh (Công ty CP Đầu tư, Xây dựng và TM Việt Séc Plaza) (25/08/2016)
                </p>
                <a href="#" style="float:right; color:darkturquoise;">Xem chi tiết</a>
            </div>

            <div class="padding" style="width:95%; border-radius:12px; margin-top:10px; background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:30px !important">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    CCT TP Vinh thông báo: CSKD nợ thuế, bỏ địa chỉ kinh doanh (Công ty TNHH thương mại Hoan Chiến) (25/08/2016)
                </p>
                <a href="#" style="float:right; color:darkturquoise;">Xem chi tiết</a>
            </div>

            <div class="padding" style="width:95%; border-radius:12px; margin-top:10px; background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:30px !important">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    CCT TP Vinh thông báo: CSKD nợ thuế, bỏ địa chỉ kinh doanh (CTY CP XD và TM Thái Cường) (25/08/2016)
                </p>
                <a href="#" style="float:right; color:darkturquoise;">Xem chi tiết</a>
            </div>

             <div class="padding" style="width:95%; border-radius:12px; margin-top:10px; background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:30px !important">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    CCT TP Vinh thông báo: CSKD nợ thuế, bỏ địa chỉ kinh doanh (CTY CP XD và TM Thái Cường) (25/08/2016)
                </p>
                <a href="#" style="float:right; color:darkturquoise;">Xem chi tiết</a>
            </div>
       </center>
    </form>
</ion-content>
</ion-view>