<ion-view title="CHI TIẾT THÔNG BÁO" hide-back-button="false">
   <ion-content scroll="true" style="background: url(img/welcome/welcome.jpg); background-size: cover;">
    <form>
        <div class="padding" style="background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:12px !important">
             <h2 style="margin-left:0px; margin-bottom:0; font-weight:500; color:greenyellow; font-size:17px; font-family: sans-serif;">CCT TP Vinh thông báo: DN mới thành lập không hoạt động kinh doanh(CTY TNHH vận tải Tú Linh) (25/08/2016)</h2>
        </div>
       <center style="margin-top:20px; margin-bottom:70px"> 
            <div class="padding" style="width:95%; border-radius:12px; margin-top:10px; background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:12px !important">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Tdn Dgdoi.nop t[u6: C6ng ty INHHven tdiTir Linh.
                    Ma sd thua: 2901715980.
                    Dia chidins ki knrl doanh vdr co quan thui:: 56 46. dudnB van Dirc Grar,
                    phundlluitsli'i I 'rl,_1 ,\ nh. 'l
                    Giy chhg nhaD ding ki ki,nr d 9017159E0. do So l(i hoa.h !a
                    DAu tLr linb Nghe An cap ngiy l7 thnng 9 niDr 2014.
                    lcn lgur. ds, dr1 .heu ph..f L 'r l1 \ d lh.L I L2r'l' I ';tr' rhrco"nh.L-d ooc So. r.n-mirl'n ,lnJ;, lRllo"l2l.
                    - Noi dang ki h0 khau rhuolg trur Kh6t 4, phu@s H::i Huy TAP. TP. Vinh
                </p>
            </div>
       </center>
    </form>
</ion-content>
</ion-view>