<ion-view title="THÔNG TIN ĐĂNG KÝ" hide-back-button="false">
   <ion-content scroll="true" style="background: url(img/welcome/welcome.jpg); background-size: cover;">
    <form style="margin-bottom:60px">
        <div id="top" class="padding" style="background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:12px !important">
             <h2 ng-show="!logininfo" style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:17px; font-family: sans-serif;">Nhập Thông Tin Đăng Nhập</h2>
             <h2 ng-show="!registerinfo" style="margin-left:0px; margin-bottom:0; margin-top:0; font-weight:500; color:#fff; font-size:17px; font-family: sans-serif;">Nhập Thông Tin Người Sử Dụng</h2>
             <h2 ng-show="!complete" style="margin-left:0px; margin-bottom:0; margin-top:0; font-weight:500; color:#fff; font-size:17px; font-family: sans-serif;">Nhập Thông Tin Kế Toán Trưởng</h2>
        </div>
       <center style="margin-top:5px; margin-bottom:5px"> 
           
           <!--Thong tin dang nhap-->
            <div class="padding" ng-show="!logininfo">

                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input type="text" placeholder="Mã Số Thuế Doanh Nghiệp" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>


                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:5px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input type="password" placeholder="Mật Khẩu" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                 <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input type="password" placeholder="Xác Nhận Lại Mật Khẩu" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                 <!--<label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="text" placeholder="Mã Xác Thực" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>-->

                 <!--<label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; float:left; width: 30%; margin: auto; margin-bottom:7px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                            <input type="text" style="padding-left:0px; color: #fff; background: transparent" value="Ex541az0" readonly>
                </label>-->
                <simple-captcha valid="captchaValid" style="float:left; color: #fff; font-size:20px;"></simple-captcha>
                <div>valid: {{captchaValid}}</div>
            </div>

            <div class="padding" ng-show="!logininfo" style="margin-top:30px">
                 <button class="button waves-effect waves-light button-assertive" style="; color:#fff; font-size:15px; opacity:.7; background: green" ng-click="showError()">Tiếp</button>
            </div>

            <!--Thong tin nguoi su dung-->

            <div class="padding" ng-show="!registerinfo">
                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input type="text" placeholder="Tên công ty" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                 <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="text" placeholder="Địa chỉ đăng ký kinh doanh" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="text" placeholder="Địa chỉ văn phòng giao dịch (nếu có)" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="number" placeholder="Điện thoại công ty" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="text" placeholder="Địa chỉ email công ty" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="text" placeholder="Tên người đại diện pháp luật" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="number" placeholder="Số CMND" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="text" placeholder="Ngày cấp" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="text" placeholder="Nơi cấp" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="text" placeholder="Số điện thoại" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="text" placeholder="Địa chỉ email" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

            </div>

            <div class="padding" ng-show="!registerinfo">
                 <button  class="button waves-effect waves-light button-assertive" style="; color:#fff; font-size:15px; opacity:.7; background: green" ng-click="scroll(); showcomplete()">Tiếp</button>
            </div>
        
            <!--hoan tat dang ky-->
            
            <div id="nav" class="padding" ng-show="!complete" style="margin-top: 200px;" ng-style="myStyle">

                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input type="text" placeholder="Tên kế toán trưởng" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                 <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="text" placeholder="Số điện thoại" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input  type="text" placeholder="Địa chỉ email" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent">
                </label>

            </div>

            <div class="padding" ng-show="!complete">
                 <button class="button waves-effect waves-light button-assertive" style="; color:#fff; font-size:15px; opacity:.7; background: green" ng-click="removeMargin()">Hoàn Tất</button>
            </div>

       </center>
    </form>
</ion-content>
</ion-view>
