<ion-view title="THÔNG TIN NỢ THUẾ" hide-back-button="false">
   <ion-content scroll="false" style="background: url(img/welcome/welcome.jpg); background-size: cover;">
    <form style="margin-bottom:60px">
        <div class="padding" style="background: rgba(34,34,34,0.75); padding-top: 12px !important; padding-bottom:12px !important">
             <h2 style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:17px; font-family: sans-serif;">Thông Tin Nợ Thuế</h2>
        </div>
       <center style="margin-top:5px; margin-bottom:5px"> 
           
            <div class="padding">
                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Đơn vị quản lý thuế
                </p>
                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input id="textarea_2" type="text" placeholder="Chi cục thuế cầu giấy" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent" readonly>
                </label>

                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Danh sách nợ thuế theo tháng
                </p>
                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:5px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input id="textarea_2" type="text" placeholder="Tháng 4 nợ: 500.020.000 VNĐ" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent" readonly>
                </label>
                <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input id="textarea_2" type="text" placeholder="Tháng 10 nợ: 500.000.000 VNĐ" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent" readonly>
                </label>

                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Tổng số thuế nợ
                </p>
                 <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input id="textarea_2" type="text" placeholder="1.000.020.000 VNĐ" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent" readonly>
                </label>

                <p style="margin-left:0px; margin-bottom:0; font-weight:500; color:#fff; font-size:16px; font-family: sans-serif; text-align:left">
                    Ngày nộp ngân sách
                </p>
                 <label class="item item-input" style="border-radius:5px; color: #fff; font-size:25px; width: 100%; margin: auto; margin-bottom:10px; margin-top:5px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
                    <input id="textarea_2" type="text" placeholder="30/09/2015" style="padding-left:0px; font-size:17px; padding-top:0px; color: #fff; background: transparent" readonly>
                </label>
            </div>
       </center>
    </form>
</ion-content>
</ion-view>